---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

// take the 5 most recent posts
const blogPosts = (await Astro.glob("./posts/*.{md,mdx}"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 5);

const tags = [
  ...new Set(blogPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<style>
  @media (max-width: 640px) {
    .bg-hero {
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0) 90%
      );
    }
  }
</style>

<Layout
  title="Axiom - NSUT"
  description="Axiom - The Philosophy Society of NSUT"
  footer={true}
  menu={false}
>
  <!-- Hero -->
  <header
    class="sticky -z-0 top-0 pt-20 grid grid-cols-1 sm:grid-cols-8 bg-gradient-to-b from-purple-500 to-pink-500 shadow-inner"
  >
    <!-- Socrates image -->
    <img
      src="/images/socrates.webp"
      alt="Socrates"
      class="bg-hero hue-rotate-180 z-10 sm:z-40 row-start-1 sm:col-start-1 sm:col-span-4 order-2 sm:order-first max-w-[100%] sm:max-w-[90%]"
    />
    <!-- Hero text -->
    <div
      class="font-serif sticky top-10 -mt-32 z-20 sm:z-30 md:mt-0 row-auto sm:row-start-1 sm:col-start-4 sm:col-span-5 flex flex-col justify-end items-center text-center"
    >
      <div class="md:mb-10">
        <h2
          class="text-2xl sm:text-[calc((100vw/5)*0.22)] font-medium leading-none"
        >
          Philosophy Society of NSUT
        </h2>
        <h1 class="text-5xl sm:text-[calc((100vw/3)/2)] font-bold leading-none">
          AXIOM
        </h1>
      </div>

      <!-- Navbar -->
      <nav
        class="sm:pl-8 md:pl-14 w-full flex flex-row text-center mt-4 justify-stretch text-base sm:text-2xl font-normal border-t-2 border-black bg-slate-400"
      >
        <a href="/about" class="w-full font-medium border-r-2 border-black py-2"
          >About</a
        >
        <a href="/posts" class="w-full font-medium border-r-2 border-black py-2"
          >Blog</a
        >
        <a
          href="/events"
          class="w-full font-medium border-r-2 border-black py-2">Events</a
        >
        <a href="/contact" class="w-full font-medium border-black py-2"
          >Contact</a
        >
      </nav>
    </div>
  </header>

  <main class="relative border-t-2 border-black pb-8">
    <!-- Quotes -->
    <section
      class="z-10 sticky top-0 py-36 md:py-40 pl-14 border-b-2 border-black bg-gray-900 overflow-hidden"
    >
      <span
        class="absolute opacity-80 sm:opacity-20 top-16 left-10 text-gray-400 text-9xl"
        >❝</span
      >
      <div
        style="background-image: url('/images/charcoal.jpg');"
        class="absolute top-0 right-0 bg-cover bg-center bg-no-repeat w-full sm:w-3/5 h-full opacity-20 sm:opacity-50"
        role="presentation"
      >
      </div>
      <p
        class="font-serif text-3xl sm:text-4xl text-amber-50 font-light max-w-[15ch] sm:max-w-[18ch]"
      >
        The Unexamined Life is not worth Living...
      </p>
      <span class="text-amber-50 font-light sm:text-lg text-xl text-right"
        >- Socrates</span
      >
    </section>

    <!-- Posts -->
    <div
      class="bg-posts z-50 relative w-full flex flex-col justify-start space-y-6 px-8 sm:px-16 py-4"
    >
      {
        blogPosts.map((post, idx) => (
          <>
            <BlogCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              pubDate={post.frontmatter.pubDate}
              readTime={post.frontmatter.minutesRead}
              link={post.frontmatter.slug || post.url}
              tags={post.frontmatter.tags}
              image={post.frontmatter.image}
            />
            {idx !== blogPosts.length - 1 && (
              <hr class="border w-full border-t-black" />
            )}
          </>
        ))
      }
    </div>
  </main>
</Layout>
